@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section{
    margin-top: 10%;
}


.main-section{
    margin-top: 0%;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.80)), url("assets/b8.jpg");
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 100px 0px 300px rgb(0, 0, 0);
}

.main-container{
    height: auto;
    width: 85%;
    margin: auto;
}

nav{
    height: 80px;
}
nav h1{
    letter-spacing: 2.5px;
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: #eb7620;
}
nav h2{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}
nav ul li a:hover{
    background-color: #eb7620; 
    transition: 0.5s ease;
}
nav ul li .active{
    background-color: #eb7620;
}

.article{
    width:50%;
    margin: auto;
    text-align: center;
    transform: translateY(15vh);
}
.article h1{
    font-size: 36px;
    color: #fff;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
}
.article p{
    font-size: 18px;
    color: #7e7e7e;
    line-height: 1;
    margin-bottom: 50px;
}
.article .btn{
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #eb7620;
    border-radius: 5px;
}
.article .btn:hover{
    background-color:#4399fa;
    transition: 0.5s ease;
}

.social h2{
    margin-top: 30px;
    color: white;
}
.social a{
    color: white;
    padding: 0px 8px;
    line-height: 2;
}
.social a:hover{
    color: #eb7620;
    transition: 0.5s ease;
}



/*############################ ABOUT SECTION #################################### */

.about-section{
    width: auto;
    height: auto;
    margin-top: 10%;
    display:flex;
}
.item{
    width: 60%;
    flex-grow: 1;
}
.items{
    width: 40%;
}

.items .img-me{
    height: 500px;
    width: 350px;
    margin-top: 10%;
    margin-left: 40%;
    border-radius: 68px;
}

.about-container{
    width: auto;
}

.about-container h1{
    margin: 0 5%;
    font-size: 48px;
    color:#000;
    line-height: 1.5;
}

.about-container p{
    margin: 1% 5%;
    width: auto;
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.social{
    width: auto;
    display: flex;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5% 5%;
}
.icons{
    display: flex;
    width: 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.text{
    margin: 1.5% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.text h5{
    width: auto;
    color: black;
    font-family: Montagu Slab;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;

}

/*############################ SUMMARY SECTION #################################### */
.summary-section{
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    justify-content: space-around;
}
.summary-section h1{
    color: #fff;
    text-align: center;
    font-size: 48px;
    line-height: 2;

}
.summary-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: auto;
    width: 85%;
    margin: auto;
}
.pdf-card{
    background-color: #272727;
    color: white;
    text-align: center;
    height: 300px;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 10px;
    width: calc(25% - 50px); /* 20% to fit 5 cards in a row with spacing */
    margin: 1.5% 1%;
}


.pdf-card:hover{
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    transition: 0.5s ease;
}


/*############################ CONTACT SECTION #################################### */
.contact-section{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    min-height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.contact-section i{
    display: flex;
    line-height: 3;
    margin-left: 50%;
}

.contact-section p{
    text-align: center;
    line-height: 3;
}

.maps iframe{
    border-radius: 5px;

}

.contact-container{
    position: relative;
    text-align: center;
    margin-top: 20px;
    width: 30%;
    height: 20%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}




/*############################ END CONTACT SECTION #################################### */
.x{
    height: 100px;
}







/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
