@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,400;1,500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

section{
    margin: 10% 5%;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: 0.5 ease;
}

.main-section{
    margin: 0% 0%;
    opacity: 1;
    background-image: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.80)), url("assets/images/b8.jpg");
    min-height: 35vw;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 0% 0% 0% 20% / 60%;
}

.main-container{
    margin: auto;
    height: auto;
    width: 85%;
}

nav{
    height: 80px;
}
nav h1{
    letter-spacing: 2.5px;
    font-size: 1.5vw;
    margin-top: 1.5vw;
    font-family: Montserrat;
    float: left;
    font-size: inline;
    color: white;
}
nav h2{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    list-style: none;
    border-radius: 5px;
    padding: 0px 5px;
}
nav ul{
    float: right;
    margin-top: 1.5vw;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0 1.2vw;
}
nav ul li a{
    color: #FFF;
    font-style:normal;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 1.2vw;
    border-radius: 5px;
    padding: 7px 0px;
}
nav ul li a:hover{
    transition: 0.5s ease;
    font-size: 1.4vw;
}
nav ul li .active{
    font-size: 1.5vw;
    opacity: 1;
}

.article{
    margin-top: 5%;
    text-align: center;
}
.article h1{
    color: #FFF;
    font-style: normal;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 3.5vw;
}
.article p{
    text-align: center;
    color: #7e7e7e;
    font-size: 1vw;
    line-height: 3;
    margin-bottom: 30px;
}
.article a{
    font-size: 1vw;
}
.article .btn{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #565555;
    cursor: pointer;
    font-size: 0.8vw;
    padding: 1vw 2vw;
    letter-spacing: 0.1vw ;
    border-radius: 2vw;
}
.article .btn:hover{
    color: #000;
    background-color:#a0a0a0;
    transition: 0.5s ease;
}
.article.active{
    opacity: 0.1;
}

#decoration{
    width: 60vw;
    height: 15vw;
    display: block;
    margin: 0 auto;
}
/*############################ ABOUT SECTION #################################### */

.about-section{
    margin: 0% 5%;
    width: auto;
    min-height: auto;
    display:flex;
}
.item{
    margin-top: 10%;
    width: 60%;
    flex-grow: 1;
}
.items{
    width: 40%;
}

.items .img-me{
    max-height: auto;
    resize: horizontal;
    max-width: 60%;
    margin-top: 50%;
    margin-left: 50%;
    border-radius: 30px;
    box-shadow: 20px 30px 70px rgb(0, 0, 0);
}

.about-container{
    width: auto;
}

.about-container h1{
    font-size: 4vw;
    color:#000;
}

.about-container p{
    color: #000;
    font-style: normal; 
    line-height: normal;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.5vw;
    margin-top: 3%;
}

.social{
    width: auto;
    display: flex;
    align-items: center;
    color: #000;
    font-style: normal;
    line-height: normal;
    font-family: Montserrat;
    margin-top: 5%;
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}
.icons img{
    width: 3.5vw;
    height: 3.5vw;
}
.icons img:hover{
    box-shadow: 0vw 0vw 1.5vw rgb(78, 76, 77);
    border-radius: 1vw;
}

.text{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 3.3vw;
}
.text h5{
    color: black;
    font-style: normal;
    font-family: Montagu Slab;
    width: 250px;
    margin: 4% 7%;
    font-size: 1.5vw;
    font-weight: 600;
}

/*############################ SUMMARY SECTION #################################### */
.summary-section{
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    justify-content: space-around;
}
.summary-section h1{
    text-align: center;
    color: black;
    font-family: Mongolian Baiti;
    font-style: normal;
    line-height: 2;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 400;
}
.summary-section img{
    width: 2.5vw;
    height: 2.5vw;
}

.summary-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: auto;
    width: auto;
    margin: auto;
}
.pdf-card{
    background-color: rgb(50, 54, 57);
    color: white;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
    width: calc(25% - 4vw); /* 20% to fit 5 cards in a row with spacing */
    height: 20vw ;
    border-radius: 10px;
    margin: 1.5% 1%;
}
.pdf-card:hover{
    box-shadow: 0vw 0.5vw 2.5vw rgb(0, 0, 0);
    transition: 0.5s ease;
}
.pdf-card h3{
    font-size: 1.2vw;
}

/*############################ CONTACT SECTION #################################### */
.contact-section{
    min-height: 35vw;
    height: auto;
}
.contact-section img{ /* icon_key*/
    width: 25vw;
    height: 20vw;
}
.row{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    display:flex;
}
.column{
    margin-top: 10%;
    float: left;
    width: 33.33%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.icon-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 3.5vw;
    font-size: 1vw;
    margin-right: 10vw;

}

.icon-contact img {
    margin-right: 1vw; /* Adjust the margin as needed */
    width: 2vw;
    height: 2vw;
}
.maps iframe{
    border-radius: 10px;
    box-shadow:  0vw 0vw 3vw  #000;;
    width: 30vw;
    height: 20vw;
}


/*############################ FOOTER SECTION #################################### */
.footer{
    margin: 0% 0%;
    height: 100px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}



/* ############################ style for login popup #################################### */
.popup {
    font-family: "raleway", sans-serif ;
    position: absolute;
    background: white;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    left: -150%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8) ;
    width: 30vw;
    padding: 2vw  3vw;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 1.5vw;
}
.popup.active{
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.8);
    transition: top 0ms ease-in-out 20ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.popup .close-btn {
    position: absolute;
    background-color: #888;
    color: #eee;
    text-align: center;
    cursor: pointer;
    font-size: 1vw;
    top: 1vw; 
    right: 1vw; 
    width: 1.5vw;
    height: 1.5vw; 
    line-height: 1.5vw; 
    border-radius: 1.5vw; 
}
.popup .form h2{
   text-align: center;
   color: #222;
   margin: 1vw 0 2vw;
   font-size: 1.5vw; 
}

.popup .form-element {
    text-align: left;
    margin: 1.5vw 0;
    font-size: 1.2vw;
}
.popup .form-element .label{
    color: #222;
}
.popup .form-element input[type="text"],
.popup .form-element input[type="password"]{
    font-size: 1vw;
    display: block;  
    outline: none;
    border: 0.1vw solid #aaa; 
    margin-top: 0.5vw;
    width: 100%;
    padding: 1vw;
    border-radius: 0.5vw;
}
.popup .form-element input[type="checkbox"]{
    margin-right: 0.5vw;
}
.popup .form-element button{
    border: none;
    outline: none;
    background: #222;
    color: #f5f5f5;
    cursor: pointer;
    width: 100%;
    height: 4vw;
    font-size: 1.2vw;
    border-radius: 1vw;
}
.popup .form-element button:hover{
    background: #a0a0a0 ;
    color:black;
    transition: 0.5s ease;
}
.popup .form-element a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #1a79ce;
    font-size: 0.8vw;
    font-weight: 600;
}